/* CSS das classes e elemento usados no flappy.js */

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    min-height: 700px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
    background-image:  url('./assets/bg.jpg');
}

/* CSS do Personagem */
.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

/* CSS dos Obstáculos */
.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.par-de-barreiras{

    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    border: 2px solid #000;
    background: linear-gradient(90deg, #639301, #A5E82E);
}

.barreira .corpo {
    height: 50px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

/* Indicador de Pontos */
.progresso {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;
}


/* Em construção */
.end-game {
    font-size: 28px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}