/* CSS Geral */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('./fonts/Pixel.ttf')
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

